@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

.hero-image {
    /* background-image: url(background_image/v882-kul-55.jpg); */
    /* background-image: url(background_image/v882-kul-67.jpg); */
    height: 600px;
    position: relative;
}

.logo {
    padding-left: 10px;
    width: 175px;
}

nav {
    /* background-color: #000000; */
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

.logo a {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
}

ul.menu {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.menu li {
    position: relative;
}

ul.menu li a {
    display: block;
    /* color: #9966ff; */
    color: white;
    text-align: center;
    padding: 16px;
    padding-left: 65px;
    padding-right: 65px;
    text-decoration: none;
    font-size: 28px;
    font-family: 'Fjalla One';

}

/* ul.menu li:hover {} */

ul.menu li:hover>.sub-menu {
    display: block;
}

ul.menu li .sub-menu {
    display: none;
    position: absolute;
    top: 50px;
    background-color: #333;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

ul.menu li .sub-menu li {
    position: relative;
}

ul.menu li .sub-menu li a {
    padding: 10px;
    color: #fff;
    text-decoration: none;
    display: block;
    font-family: 'Fjalla One';
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.menu-toggle i {
    color: #fff;
    font-size: 24px;
    padding: 10px;
}

@media screen and (max-width: 768px) {
    ul.menu {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

    .menu-toggle i {
        margin-top: 2px;
    }

    ul.menu li {
        width: 100%;
        text-align: center;
    }

    ul.menu li .sub-menu {
        position: static;
        display: none;
    }

    ul.menu li:hover>.sub-menu {
        display: block;
    }

}


.navbar_text{
    font-family: 'Poiret One';
     color: #9966ff;
      font-weight: bold;
}

.hover-underline-animation {
    display: inline-block;
    position: relative
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #9966ff;
    /* background-color: white; */
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.center_text {
    text-align: center;
    font-size: 25px;
    font-family: 'Poiret One';
    padding-top: 130px;
}

.first_image_div {
    background-image: url(background_image/v882-kul-55.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: 1920px;  
}

.avatar img {
    width: 297px;
    height: auto;
    margin-bottom: 200px;
    position: relative;
    justify-content: center;
}

.test {
    padding: 65px 0px 150px;
    background-color: #9966ff;
    position: relative;
    justify-content: center;
    
}
#about {
    color: white;
    text-align: center;
    font-size: 25px;
    font-family: 'Poiret One';
    width: 65%;
    position: relative;
    margin: auto;
}

html {
    scroll-behavior: smooth;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 10px;
    height: 300px;
    /* Should be removed. Only for demonstration */
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Header */
.header-navbar {
    position: absolute;
    padding: 30px 0;
    right: 0;
    left: 0;
    top: 0;
}

.header-container {
    min-height: 50px;
    display: flex;
    justify-content: space-between;
}

body {
    margin: 0;
}

.container {
    width: auto;
    padding-left: 5vw;
    padding-right: 5vw;
}


/* Footer */
.footer {
    position: relative;
}

.footer-content {
    padding: 30px 0;
    background-color: black;
    padding-left: 5vw;
    padding-right: 5vw;
}

.social-media-text {
    font-size: 25px;
    color: white;
    line-height: 1;
    font-weight: 800;
    letter-spacing: 0;
    margin-bottom: 10px;
    font-family: 'Fjalla One';
}

.social-links>a>i {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.icon-facebook {
    width: 35px;
    height: 35px;
    display: inline-block;
    color: white;
    background-color: white;

    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
}

.icon-instagram {
    width: 35px;
    height: 35px;
    display: inline-block;
    color: white;
    background-color: white;

    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
}

.icon-linkedin {
    width: 35px;
    height: 35px;
    display: inline-block;
    color: white;
    background-color: white;

    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
}

/* end footer */


.flowcandy {
    position: relative;
    width: 100px;

}

.flowcandy_img {
    display: block;
    width: 200px;
}

/* button contact me  */

.button.is-primary.is-outlined {
    background-color: transparent;
    border-color: #6E07F3;
    color: #6E07F3;
}

.callout .button {
    padding: 1.25em 2em;
    font-weight: 400;
    border-width: 2px;
    margin-top: 2rem;
}

.button.is-outlined {
    border-width: 2px;
}

.button.is-rounded {
    border-radius: 9999px;
    padding-left: calc(1em + 0.25em);
    padding-right: calc(1em + 0.25em);
}

.button.is-medium {
    font-size: 1.25rem;
}

.button.is-primary {
    background-color: #6E07F3;
    border-color: transparent;
    color: white;
}

.button {
    font-family: "europa", sans-serif;
}

a,
.button {
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    font-weight: 400;
}

.has-text-weight-normal {
    font-weight: 400 !important;
}

.button {
    background-color: #ffffff;
    border-color: #dbdbdb;
    border-width: 1px;
    color: #363636;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(0.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(0.5em - 1px);
    text-align: center;
    white-space: nowrap;
}

.is-unselectable,
.tabs,
.pagination-previous,
.pagination-next,
.pagination-link,
.pagination-ellipsis,
.breadcrumb,
.file,
.button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pagination-previous,
.pagination-next,
.pagination-link,
.pagination-ellipsis,
.file-cta,
.file-name,
.select select,
.textarea,
.input,
.button {
    /* -moz-appearance: none;
    -webkit-appearance: none; */
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    height: 1.5em;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(0.5em - 1px);
    padding-left: calc(0.75em - 1px);
    padding-right: calc(0.75em - 1px);
    padding-top: calc(0.5em - 1px);
    position: relative;
    vertical-align: top;
}

.button.is-primary.is-outlined:hover,
.button.is-primary.is-outlined.is-hovered,
.button.is-primary.is-outlined:focus,
.button.is-primary.is-outlined.is-focused {
    background-color: #6E07F3;
    border-color: #6E07F3;
    color: white;
}

svg:not(:host).svg-inline--fa,
svg:not(:root).svg-inline--fa {
    overflow: visible;
    box-sizing: content-box;
}

.svg-inline--fa {
    display: var(--fa-display, inline-block);
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}

.button .icon:first-child:not(:last-child) {
    margin-left: calc(-0.5em - 1px);
    margin-right: 0.25em;
}

.button .icon,
.button .icon.is-small,
.button .icon.is-medium,
.button .icon.is-large {
    height: 1.5em;
    width: 1.5em;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.button.is-primary.is-outlined:hover,
.button.is-primary.is-outlined.is-hovered,
.button.is-primary.is-outlined:focus,
.button.is-primary.is-outlined.is-focused {
    background-color: #6E07F3;
    border-color: #6E07F3;
    color: white;
}

a {
    text-decoration: none;
}

.div_button {
    position: relative;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
    /* width: 250px; */
    text-align: center;
}

/* back on top button */

.linkHover {
    color: #6E07F3;
    font-weight: bold;
}

@media (max-width: 768px) {
    .first_image_div {
        background-image: url(background_image/v882-kul-55.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-size:1920px;  
    }
    .center_text {
        text-align: center;
        font-size: 25px;
        font-family: 'Poiret One';
        padding-top: 50px; 
    }
   
    .headline_text{
        margin-top:200px;
        color:#9966ff ;
        font-weight: bold;
        
    }

    .headline_text_description{
        font-size: 5vw!important;
    }

}

.headline_text{
    padding-top:20px;
    color:#9966ff ;
    font-weight: bold;
}
.headline_text_description{
    font-size:27px;
     color:white
}